Repository jonayet/jenkins-changset-poc: changes, and which Jenkins stages are due for each by the changed paths.
All: Example JSON Deploy, Example Jenkins Deploy

Example JSON Deploy:
              steps {
                  echo 'Deploying JSON'
              }
          

Example Jenkins Deploy:
              steps {
                  echo 'Deploying Jenkinsfile'
              }
          

wip-2
  Jenkinsfile
Due: Example Jenkins Deploy

wip-3
  translations/en_GB.json
Due: Example JSON Deploy

wip-4
  Jenkinsfile
  translations/web/en_GB.json
  translations/web/en_US.json
Due: Example JSON Deploy, Example Jenkins Deploy

wip-5
  Jenkinsfile
Due: Example Jenkins Deploy

wip
  Jenkinsfile
Due: Example Jenkins Deploy

wip
  src/main.js
  translations/web/en_US.json
Due: Example JSON Deploy

wip
  translations/web/en_GB.json
Due: Example JSON Deploy

wip
  translations/web/en_GB.json
  translations/web/en_US.json
Due: Example JSON Deploy

wip
  translations/web/en_US.json
Due: Example JSON Deploy

wip
  Jenkinsfile
  translations/web/en_GB.json
Due: Example JSON Deploy, Example Jenkins Deploy

wip
  src/main.js
Due: none

wip
  src/main.js
  translations/web/en_GB.json
Due: Example JSON Deploy

wip
  deploy/jobs/translations.groovy
  deploy/translations-pipeline.groovy
Due: none

wip
  deploy/jobs/translations.groovy
Due: none

wip
  Jenkinsfile
  deploy/translations-pipeline.groovy
Due: Example Jenkins Deploy

Path conditions:
  Example JSON Deploy: any of: **/*.json
  Example Jenkins Deploy: any of: Jenkinsfile
